.fa-spinner{
    animation: App-logo-spin infinite 1s linear;
}

.loadDiv{
    font-size:80px;
    text-align: center;
    color: blueviolet;
}

.projectsHeader {
    color: aliceblue;
    font-size: 50px;
    position: relative;
    left: 20px;
}
