.welcomeSmall{
    position: fixed;
    bottom: 100px;
}


h1:hover .bomb{
    -webkit-animation-name: rubberBand; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .75s; /* Safari 4.0 - 8.0 */
    animation-name: rubberBand;
    animation-duration: .75s;

}

h1:hover .money{
    -webkit-animation-name: rubberBand; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .75s; /* Safari 4.0 - 8.0 */
    animation-name: rubberBand;
    animation-duration:.75s;

}