.footer {
    position: relative;
    margin-top: 40px;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    border-top: blue 2px solid;
    background: #adcee9;
    float:left;
  }  

  .davidPlug{
    text-align: right;
  }

  .reactPlug{
    text-align:left;
  }