.footer {
    width: 100%;
    margin-top: 20px;
    position:  relative;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 40px;
    padding: 1rem;
    display: inline-block;
    border-top: blue 2px solid;
    background: black;
    color: white;
}

.davidPlug {
    text-align: right;
}

.reactPlug {
    text-align: left;
}


/* ================Spinning Footer======================= */

.App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 30px;
    position: relative;
    bottom: -10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}