.footer {
    width: 100%;
    margin-top: 20px;
    position:  relative;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px; 
    display: inline-block;
    border-top: blue 2px solid;
    background: black;
    color: white;
    
}

.davidPlug {
    text-align: right;
    line-height: 60px;
}

.reactPlug {
    text-align: left;
    line-height: 60px;
}

.footerRow{
    vertical-align: middle;
}

/* ================Spinning Footer======================= */

.App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 30px;
    position: relative;
    bottom: -10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}