.displayCards {
    margin-top: 40px;
    display: block;
    text-align: center;
}

.cardTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    line-height: 60px;
    background-color: purple;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 290px;
    margin-bottom: 20px;
    position: relative;
    bottom: 204px;
    opacity: .95;
}

.card {
    transition: all .2s ease-in-out;
    border: 5px solid whitesmoke;
}

.description {
    
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 15px;
    z-index: 1;
}



.appButton,
.codeButton {
    position: relative;
    bottom: 210px
}