.displayCards {
    margin-top: 40px;
    display: block;
    text-align: center;
}

.cardTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    line-height: 60px;
    background-color: purple;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 290px;
    margin-bottom: 20px;
    position: relative;
    bottom: 150px;
    opacity: .95;
}

.card {
    transition: all .2s ease-in-out;
    border: 5px solid whitesmoke;
}


/* .card:hover{
        transition: all .2s ease-in-out;
            transform: scale(1.1); 
} */



.appButton,
.codeButton {
    position: relative;
    bottom: 125px
}